<footer class="footer bg-dark pb-2 pt-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <p>
                    <img height="32"
                         src="{{url_for('static',filename='img/microscope.svg')}}">
                    <small class="d-block mb-3 text-muted">
                        &copy; Copyright 2020 ... XXX ...
                    </small>
                </p>
            </div>

            <div class="col-6 col-md">
                <h5 class="text-light">Built using</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" href="http://raspberrypi.org">
                            Raspberry Pi
                        </a>
                    </li>
                    <li>
                        <a class="text-muted" href="http://python.org">
                            Python
                        </a>
                        <span class="text-muted">&amp;</span>
                        <a class="text-muted" href="http://python.org">
                            Flask
                        </a>
                    </li>
                    <li>
                        <a class="text-muted" href="https://getbootstrap.com">
                            Bootstrap HTML/CSS
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md">
                <h5 class="text-light">About</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted"
                           href="https://northmetrotafe.wa.edu.au">
                            North Metro TAFE
                        </a>
                    </li>
                    <li><a class="text-muted" href="/">Team</a></li>
                    <li><a class="text-muted" href="/">Locations</a></li>
                    <li><a class="text-muted" href="/">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>