<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block metatags %}
    {% endblock %}

    <title>
        {% block title %}
        {% if title %}
        {{ title }} - {{ _('MicroBlog') }}
        {% else %}
        Welcome to {{ _('MicroBlog') }}!
        {% endif %}
        {% endblock %}
    </title>

    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link href="{{url_for('static', filename='css/sticky-footer.css')}}"
          rel="stylesheet">
    <link href="{{url_for('static', filename='css/all.css')}}"
          rel="stylesheet">
    <!-- Custom Styles (when needed) -->
    {% block styles %}
    {% endblock %}

    {% include "fragments/_favicons.html" %}
</head>
<body class="d-flex flex-column h-100">

<header>
    {% include "fragments/_navigation.html" %}
</header>

<main role="main" class="flex-shrink-0 mb-2 pb-5 pt-3 mt-3">
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block content %}{% endblock %}
    </div>
</main>

{% include "fragments/_footer.html" %}

{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{{ moment.lang(g.locale) }}
{{ bootstrap.load_js() }}
<!-- Optional JavaScript -->
{% block scripts %}
{% endblock %}

</body>
</html>