<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if title %}
        {{ title }} - Microblog
        {% else %}
        Welcome to Microblog!
        {% endif %}
    </title>
</head>
<body>
<header>
    <nav>
        Microblog:
        <ul>
            <li>
                <a href="{{ url_for('index') }}">Home</a>
            </li>
            <li>
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>

<main class="container">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <section>
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&Copy Copyright 2020 ... XXX</p>
</footer>
</body>
</html>