{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block content %}

<h1>Hi, {{ current_user.username }}!</h1>

{% if form %}
<div class="row">
    <div class="col-md-6">
        {{ render_form(form) }}
    </div>
</div>
{% endif %}

<ul class="list-group pt-2">
    {% for post in posts %}
    {%include '_post.html' %}
    {% endfor %}
</ul>

<nav aria-label="..." class="mt-2 pt-2">
    <ul class="pagination">
        <li class="page-item {% if not prev_url %} disabled{% endif %}"
            title="Newer">
            <a class="page-link" href="{{ prev_url or '#' }}"
               {% if not prev_url %} tabindex="-1" aria-disabled="true"
               {% endif %}>
                <i class="fa fa-arrow-left"></i>
            </a>
        </li>

        <li class="page-item {% if not next_url %} disabled{% endif %}"
            title="Older">
            <a class="page-link" href="{{ next_url or '#' }}"
               {% if not next_url %} tabindex="-1" aria-disabled="true"
               {% endif %}>
                <i class="fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
</nav>

{% endblock %}
